<div class="edit_and_save_links">
	<a href="#" class="edit_link 			  ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-button-text">Edit {% if page.is_page %}Page{% else %}Post{% endif %}</span></a>
	<a href="#" class="save_link save_links   ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-button-text">Save</span></a>
	<a href="#" class="cancel_link save_links ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-button-text">Cancel</span></a>
</div>

<div id="rewrite_editor"></div>